body {
  display: flex;
  background-image: url(assets/space_img.jpg) ;
  background-size: cover;
  justify-content: space-around;
}

.center-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.center-area > .emoji {
  font-size: 68px;
  text-align: center;
}

.center-area > p, .wins-container {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2px;
  color: #00b4d8;
}

td {
  border: 1px solid #FFFFFF;
  height: 100px;
  width: 100px;
}

.wins-container {
  background-image: radial-gradient(#03045e, #caf0f8);
  width: 250px;
  height: 750px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  margin-top: -20px;
}

.wins-container > .emoji, .token {
  font-size: 48px;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  visibility: hidden;
}

